.loginPage {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 48% 52%;
  background: #f7f7f7;
  overflow: hidden;
}

.formSide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 170px 40px 40px;
}

.imageSide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #f7f7f7;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imageSide img {
  height: 100vh;
  width: auto;
  max-width: none;

  object-fit: contain;
  object-position: right center;

  transform: scale(1.04);
  transform-origin: right center;
}

@media (max-width: 1300px) {
  .loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formSide {
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    align-items: center;
  }

  .imageSide {
    display: none;
  }
}