.rateSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    background-color: var(--background-color);
}

.rateSection h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 4rem;
  color: var(--color-text);
  text-align: center;
}

.rateSection p.description {
  text-align: center;
  font-size: 24px;
  color: var(--color-text);
  margin-bottom: 4rem;
}

.rateSection span {
    color: var(--color-primary);
}

.rateSection .cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  
}